body {
  margin: 0;
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.App {

}

.App-header {
  background-color: #f2f2f2;
  padding: 20px;
}

.search-box {
  padding: 15px;
  font-size: 20px;
  width: 600px; /* 调整搜索框宽度 */
  border: none;
  border-radius: 20px; /* 添加圆角 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 添加阴影效果 */
}

.search-result {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination a {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
}

.pagination .active {
  background-color: #007bff;
  color: white;
}
